* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: white;
  position: fixed;
  top: 0%;
  z-index: 1;
  border-bottom: 1px solid gainsboro;
}
header nav {
  width: 80%;
}
header nav img {
  cursor: pointer;
}
header nav .collapseDiv {
  justify-content: end;
}
header nav .collapseDiv ul .home {
  color: rgb(0, 162, 255);
}
header nav .collapseDiv ul a {
  font-weight: 700;
  transition: color 0.4s ease;
  color: black;
}
header nav .collapseDiv ul a:hover {
  color: rgb(0, 162, 255);
}

#unit1 img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  filter: brightness(66%);
}
#unit1 .unit1Word {
  position: absolute;
  top: 30%;
  left: 10%;
  color: #fff;
}
#unit1 .unit1Word button {
  padding: 10px 14px;
  background-color: #26b7e7;
  color: #fff;
  border-radius: 6px;
}
#unit1 .unit1Word button:hover {
  background-color: #fff;
  color: #26b7e7;
  transition: 0.5s;
}

#unit2All {
  text-align: center;
  margin-top: 10%;
}
#unit2All h1 {
  color: #26b7e7;
}
#unit2All #unit2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#unit2All #unit2 .projectsCard {
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
#unit2All #unit2 .projectsCard button {
  background-color: #26b7e7;
  padding: 2px;
}
#unit2All #unit2 .projectsCard button:hover {
  background-color: #fff;
  color: #26b7e7;
  transition: 0.5s;
}

#unit3 {
  margin-top: 10%;
  text-align: center;
  background-color: #EEEEEE;
}
#unit3 .container .projectsCard img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  margin: 10px;
}
#unit3 .projectsWord p {
  color: gray;
}
#unit3 .projectsList {
  flex-direction: column;
}
#unit3 .projectsList .list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#unit3 .projectsList .list .all {
  color: #40B7E7;
}

#unit4 {
  margin-top: 10%;
  text-align: center;
}
#unit4 p {
  color: gray;
}
#unit4 .container .teamCard {
  margin-top: 40px;
}
#unit4 .container .teamCard img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}
#unit4 .container .teamCard p {
  background-color: #26b7e7;
  padding: 14px;
  color: #fff;
  font-weight: 800;
}

footer {
  margin-top: 6%;
  background-color: #191919;
  color: #fff;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: white;
  position: fixed;
  top: 0%;
  z-index: 1;
  border-bottom: 1px solid gainsboro;
}
header nav {
  width: 80%;
}
header nav img {
  cursor: pointer;
}
header nav .collapseDiv {
  justify-content: end;
}
header nav .collapseDiv ul .home {
  color: rgb(0, 162, 255);
}
header nav .collapseDiv ul a {
  font-weight: 700;
  transition: color 0.4s ease;
  color: black;
}
header nav .collapseDiv ul a:hover {
  color: rgb(0, 162, 255);
}

#unit1 img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  filter: brightness(66%);
}
#unit1 .unit1Word {
  position: absolute;
  top: 30%;
  left: 10%;
  color: #fff;
}
#unit1 .unit1Word button {
  padding: 10px 14px;
  background-color: #26b7e7;
  color: #fff;
  border-radius: 6px;
}
#unit1 .unit1Word button:hover {
  background-color: #fff;
  color: #26b7e7;
  transition: 0.5s;
}

#unit2All {
  text-align: center;
  margin-top: 6%;
}
#unit2All h1 {
  color: #26b7e7;
}
#unit2All #unit2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#unit2All #unit2 .projectsCard {
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
#unit2All #unit2 .projectsCard button {
  background-color: #26b7e7;
  padding: 2px;
}
#unit2All #unit2 .projectsCard button:hover {
  background-color: #fff;
  color: #26b7e7;
  transition: 0.5s;
}

footer {
  margin-top: 6%;
  background-color: #191919;
  color: #fff;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}